<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form [formGroup]="studentForm" (ngSubmit)="editStudent()"  >
        <div class="text-left" >
          <label>Name</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="name"
                 id="name" placeholder="name" value="{{student.name}}">
        </div>
        <div class="text-left">
          <label>Description</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="description"
                 id="description" placeholder="price" value="{{student.description}}">
        </div>
        <div class="text-left">
          <label>Action</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="action"
                 id="action" placeholder="quantity" value="{{student.action}}">
        </div>
        <button type="submit" class="btn btn-success">edit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
